body
{
    background-color:rgb(198, 206, 214);
}
h1
{
    justify-content:space-around;
}
h1
{
    text-align:center;
    color:white;
    font-family:times;
    font-size:35px;
    font-weight:bold;
    background-color:rgb(204, 35, 35);
    border: 9px solid rgb(206, 104, 73);
    padding:20px;
    border-style:inset;
}
p
{
    text-align:center;
    font-family:arial;
    font-size:19px;
}
h2
{
    text-align:center;
    font-family:georgia;
    font-size:28px;
    font-weight:lighter;
}
h5
{
    text-align:left;
    text-transform:none;
    font-weight:100;
    font-size:20px;
    padding:8px;
    margin:50px;
}
a:hover
{
    color:rgb(81, 96, 231);
    text-decoration:dashed;
}
a:active
{
    color:red;    
}